In [9]:
import joblib
import numpy
import pandas
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [15]:
RANDOM_STATE = 0
MODEL_FILE_NAME = 'model.dat'

In [11]:
dataset = pandas.read_csv('./output.csv')

In [12]:
dataset

         location_number  year  month  date  minutes  noise_level
0                      1  2018      1     1        5        61.74
1                      1  2018      1     1       10        61.74
2                      1  2018      1     1       15        61.74
3                      1  2018      1     1       20        61.74
4                      1  2018      1     1       25        61.74
...                  ...   ...    ...   ...      ...          ...
2253242               12  2019     12    31     1415        62.57
2253243               12  2019     12    31     1420        62.57
2253244               12  2019     12    31     1425        62.57
2253245               12  2019     12    31     1430        62.57
2253246               12  2019     12    31     1435        62.57

[2253247 rows x 6 columns]

In [20]:
X = dataset.iloc[:, :-1].values
Y = dataset.iloc[:, -1].values
last = dataset.iloc[-1, :-1].values
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=RANDOM_STATE)

In [14]:
regressor = LinearRegression()
regressor.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
joblib.dump(regressor, MODEL_FILE_NAME)

['model.dat']

In [19]:
regressor = joblib.load(MODEL_FILE_NAME)
Y_predict = regressor.predict(X_test)
# output = pandas.DataFrame({'Actual': Y_test, 'Predicted': Y_predict})
print('Mean Absolute Error:', mean_absolute_error(Y_test, Y_predict))

Mean Absolute Error: 4.211205280851088

In [28]:
regressor.predict(last.reshape(1, -1))[0]

63.129365470532264

In [29]:
last.reshape(1, -1)

array([[  12., 2019.,   12.,   31., 1435.]])

In [37]:
l = list(range(1, 13))
l.remove(11)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]

In [41]:
type(X_test)

numpy.ndarray